@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Light.eot');
  src: url('fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Light.woff') format('woff'),
      url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
      url('fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
   font-family: 'HelveticaNeueCyr';
   color: #000;   
}

.container {
  min-height: 100vh;
  background: #e5e5e5; 
  display: flex;
  align-items: center;
  justify-content: center;  
  position: relative;
}

.container__fon {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.container__fon.load {
  opacity: 1;
}

.container__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 378px;
  height: 438px;
  padding: 40px;  
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
  position: relative;
  animation: effectForm 1s forwards;
}

@keyframes effectForm {
	from {	 
	    transform: perspective(400px) rotate3d(1, 0, 0, 310deg);  
	    transform-origin: center top;
	    opacity: 0;
	} to {
    	transform: perspective(400px) rotate3d(1, 0, 0, 360deg);  
    	transform-origin: center top;;
	    opacity: 1;
  }	
} 

.container__form-topBlock {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 25px;
  background: #fff; 
  isolation: isolate; 
  position: absolute;
  top: 0;
  left: 50%;
  animation: effectForm2 1s forwards; 
}


@keyframes effectForm2 {
	from {	 
	    transform: scale(1.4) translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 430deg);  
      transform-origin: center;
      box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
	    opacity: 0;
	} to {
    	transform: scale(1) translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 360deg);  
      transform-origin: center;
      box-shadow: 0 0 4px -5px rgba(0,0,0,0.1), 0 2px 3px 0 rgba(0,0,0,0.1), 0 8px 5px -7px rgba(0,0,0,0.2);
	    opacity: .8;
  }	
} 

.container__form-topBlock .innerBlock {
  width: 28px;
  height: 28px;
  border-radius: 7px;
  mix-blend-mode: multiply;
}

.orange {
  background: #f8911d;
  animation: orangeEffect 1.3s forwards; 
}

@keyframes orangeEffect {
	from {	 
	    transform: scale(1.4) translate(-27px, -120px) perspective(100px) rotate3d(1, 0, 0, 430deg);  
      transform-origin: center;
	    opacity: 0;
	} to {
    	transform: scale(1) translate(7px, -7px) perspective(100px) rotate3d(1, 0, 0, 360deg);  
      transform-origin: center;
	    opacity: 1;
  }	
} 

.rose {
  background: #d1369c;
  animation: roseEffect 1.3s forwards; 
}


@keyframes roseEffect {
	from {	 
	    transform: scale(1.4) translate(27px, -60px) perspective(100px) rotate3d(1, 0, 0, 430deg);  
      transform-origin: center;
	    opacity: 0;
	} to {
    	transform: scale(1) translate(-7px, 7px) perspective(100px) rotate3d(1, 0, 0, 360deg);  
      transform-origin: center;
	    opacity: 1;
  }	
} 

.blue {
  background: #3e9ffd;
  animation: blueEffect 1.3s forwards; 
}

@keyframes blueEffect {
	from {	 
	    transform: scale(1.4) translate(7px, -40px) perspective(100px) rotate3d(1, 0, 0, 430deg);  
      transform-origin: center;
	    opacity: 0;
	} to {
    	transform: scale(1) translate(7px, -7px) perspective(100px) rotate3d(1, 0, 0, 360deg);  
      transform-origin: center;
	    opacity: 1;
  }	
} 

.green {
  background: #4ebf49;
  animation: greenEffect 1.3s forwards; 
}

@keyframes greenEffect {
	from {	 
	    transform: scale(1.4) translate(57px, -150px) perspective(100px) rotate3d(1, 0, 0, 430deg);  
      transform-origin: center;
	    opacity: 0;
	} to {
    	transform: scale(1) translate(-7px, 7px) perspective(100px) rotate3d(1, 0, 0, 360deg);  
      transform-origin: center;
	    opacity: 1;
  }	
} 

.container__form-title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.container__form-subtitle {
  font-size: 15px;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  margin-bottom: 35px;
}

.container__form input {
  width: 100%;
  height: 40px;
  border: 1px solid #636363;
  color: #b2b2b2;
  padding-left: 9px;
  padding-right: 9px;
  transform: border .3s;
}

.container__form input:focus {
  border: 2px solid #3e9ffd;
}

.container__form-login {
  margin-bottom: 20px;
}

.container__form-psw {
  margin-bottom: 24px;
}

.container__form-checkbox {
  display: inline-block;
  margin-bottom: 44px;
  cursor: pointer;
}

.container__form-checkbox input {
  display: none;
}

.container__form-checkbox span {
  color: #636363;
  font-size: 13px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}

.container__form-checkbox span:before {
  content: ''; 
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px; 
  height: 12px; 
  border: 1px solid #3e9ffd;
  background: #fff;
  border-radius: 4px;
  margin-right: 11px;
}

.container__form-checkbox input:checked + span:before {
  content: '\2714';
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3e9ffd;
  color: #fff;
  font-size: 10px;
}

.container__form-submit {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background: #3e9ffd;  
  border: none;
  cursor: pointer;
  transition: background .3s ;
}

.container__form-submit:hover {
  background: #3782cc;  
}